[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/easymotion"]
	path = home/.vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "home/.vim/bundle/matchit"]
	path = home/.vim/bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "home/.vim/bundle/taglist"]
	path = home/.vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "home/.vim/bundle/a"]
	path = home/.vim/bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "home/.vim/bundle/commentary"]
	path = home/.vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "home/.vim/bundle/tlib"]
	path = home/.vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "home/.vim/bundle/mw-utils"]
	path = home/.vim/bundle/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "home/.vim/bundle/clang_complete"]
	path = home/.vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "home/.vim/bundle/cscope"]
	path = home/.vim/bundle/cscope
	url = https://github.com/vim-scripts/cscope.vim
[submodule "home/.vim/bundle/vim-tmux-navigator"]
	path = home/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
