[user]
	email = nivbend@gmail.com
	name = Niv Ben-David
[push]
	default = current
[color]
	ui = true
[core]
	pager = less --RAW-CONTROL-CHARS --chop-long-lines --QUIET
[commit]
	verbose = true
[alias]
	st = status --short -uall
        glog = log --color --graph --abbrev-commit --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	autosquash = rebase --autosquash --autostash -i
[credential]
	helper = cache --timeout=604800
[pull]
	rebase = true
[rerere]
	enabled = true
	autoupdate = true
[include]
        path = .gitconfig.local
