[user]
	email = nivbend@gmail.com
	name = Niv Ben-David
[push]
	default = simple
[color]
	ui = true
[core]
	pager = less --RAW-CONTROL-CHARS --chop-long-lines --QUIET
	autocrlf = true
[alias]
	st = status --short -uall
	glog = log --graph --oneline --decorate
	autosquash = rebase --autosquash -i
[credential]
	helper = cache
[pull]
	rebase = true
[rerere]
	enabled = true
	autoupdate = true
