snippet glog
	import logging
	logger = logging.getLogger(${1:__name__})
snippet ld
	logger.debug("${1:msg}")
snippet li
	logger.info("${1:msg}")
snippet lw
	logger.warning("${1:msg}")
snippet le
	logger.error("${1:msg}")
snippet lc
	logger.critical("${1:msg}")
